<!-- BEGIN: src/html/body.html -->
  <center>
  <form action="index.html" target="_blank" id="fInputTable">
    <table border="1">
      <tr>
        <td valign="top">
          <b>Title</b><input type="text" id="tUndefined" value="ERROR" style="display:none">
        </td>
        <td>
          <input type="text" size="80" name="title" id="tTitle" value="My Presentation Title">
        </td>
      </tr>
      <tr>
        <td valign="top">
          <select name="topic" id="tTopic">
            <option value=" "> - </option>
            <option value="Conference">Conference</option>
            <option value="Course" selected>Course</option>
            <option value="Meeting">Meeting</option>
            <option value="Institution">Institution</option>
            <option value="Organisation">Organisation</option>
            <option value="Topic">Topic</option>
            <option value="Tutorial">Tutorial</option>
            <option value="Workshop">Workshop</option>
          </select>
        </td>
        <td>
          <input type="text" size="80" name="course" id="tCourse" value="Ecotoxicology">
        </td>
      </tr>
      <tr>
        <td valign="top">
          <b>Author</b>
        </td>
        <td>
          <input type="text" size="80" name="author" id="tAuthor" value="My Name">
        </td>
      </tr>
      <tr>
        <td valign="top">
          <b>Date</b>
        </td>
        <td>
          <input type="text" size="80" name="date" id="tDate" value="00.00.00">
        </td>
      </tr>
      <tr style="display:none">
          <td valign="top">
            <b>Audio Slides</b>
          </td>
          <td>
            <select name="audioslide" id="sAudioSlide">
              <option value="yes">Use Player for Audio Slides</option>
              <option value="no">NO Audio Slides</option>
            </select>
          </td>
      </tr>
      <tr>
        <td valign="top">
          <b>Slide Index</b>
        </td>
        <td>
          First Index: <input type="text" size="4" name="first" id="tFirst" value="0">
          Last Index: <input type="text" size="4" name="last" id="tLast" value="40">
        </td>
      </tr>
      <tr>
        <td valign="top">
          <b>Slide Image Files</b>
        </td>
        <td>
          Basename: <tt>/images/</tt><input type="text" size="10" name="imagebasename" id="tImageBaseName" value="img">.<input type="text" size="3" name="imageext" id="tImageExt" value="png">
        </td>
      </tr>
        <tr>
        <td valign="top">
          <b>Audio Files</b>
        </td>
        <td>
          Basename: <tt>/audio/</tt><input type="text" size="10" name="audiobasename" id="tAudioBaseName" value="audio">.<input type="text" size="3" name="audioext" id="tAudioExt" value="mp3"> Type:
          <input type="text" size="4" name="audiotype" id="tAudioType" value="mpeg">
        </td>
      </tr>
      <tr>
        <td valign="top">
          <b>HTML Filename</b>
        </td>
        <td>
          <input type="text" size="30" name="filename" id="tFileName" value="index.html">
        </td>
      </tr>
      <tr>
        <td valign="top">
          <b>Folder/ZIP Name</b>
        </td>
        <td>
          <input type="text" size="30" name="zipfilename" id="tZIPFileName" value="">
          <a href="#" onclick="alert('If tex box is empty, folder name will be created from title of the presentation.\nFolder: '+get_root_dir()+'/\nZIP: '+get_root_dir()+'.zip')"> <img src="img/icons-svg/info-black.svg"></a>
        </td>
      </tr>
      <tr>
          <td valign="top">
            <b>Download Link for ZIP</b>
          </td>
          <td>
            <select name="downloadlink" id="tDownloadLink">
              <option value="yes" selected>YES</option>
              <option value="no">NO</option>
            </select>
            <a href="#" onclick="alert('If set to YES a download link for the ZIP-file will be added to the start slide.\nPlace the ZIP and the folder of the presentation in the same directory, e.g. in aud4web/ folder.\n  Folder: aud4web/'+get_root_dir()+'/\n  ZIP: aud4web/'+get_root_dir()+'.zip')"> <img src="img/icons-svg/info-black.svg"></a>
          </td>
      </tr>
      <tr>
        <td valign="top">
          <b>Audio Slides:</b>
        </td>
        <td>
          <!--
          <input type="button" id="bSource" value="Download Slides" onclick="callSource();return false">
          -->
          <button class="default-button" onclick="show_add_slides();return false"> <img src="img/icons-svg/fa-folder-open-white.svg"> Add Slides</button>
          <button class="default-button" onclick="lf4d.open_dialog('addfile2audio');return false"> <img src="img/icons-svg/audio-white.svg"> Add Audio </button>
          <button class="cancel-button" onclick="reset_ZIP();return false"> <img src="img/icons-svg/recycle-white.svg"> Reset</button> -
          <button class="default-button" id="download-zip" onclick="callSourceZIP();return false"> <img src="img/icons-svg/fa-file-save-white.svg"> Download AudioSlides ZIP</button>
          <a href="https://niehausbert.gitlab.io/audioslides4web/tutorial"> <img src="img/icons-svg/info-black.svg"> Info</a>
          <!-- <input type="button" id="bSourceZIP" value="Download Audiopresentation" onclick="callSourceZIP();return false" > -->
           <!-- input type="submit" id="bSubmit" value="Download Presentation" -->
        </td>
      </tr>
    </table>
</form>
<div id="divaddslides" style="display:none">
  <button id="upload-images" class="upload-slides" onclick="lf4d.open_dialog('addfile2image');$('');return false"> <img src="img/icons-svg/plus-white.svg"> <img src="img/icons-svg/fa-picture-white.svg"> Add Images</button>
  <button id="upload-button" class="upload-slides"><img src="img/icons-svg/fa-folder-open-white.svg"> Select PDF</button>
  <button id="pdf-selector-show" class="upload-slides" style="display:none"><img src="img/icons-svg/eye-white.svg"> Show PDF Slides</button>
  <button id="close-add-slides" class="cancel-button"><img src="img/icons-svg/fa-cancel-white.svg"> Close</button>
</div>
<div id="divpdf" style="display:none">
  <input type="file" id="file-to-upload" accept="application/pdf" />
  <div id="pdf-main-container">
  	<div id="pdf-loader">Loading document ...</div>
    <div id="pdf-contents">
      <div id="pdf-meta">
        <div id="pdf-buttons">
          <button id="pdf-prev" class="upload-slides"> <img src="img/icons-svg/carat-l-white.svg"> </button>
          <button id="pdf-next" class="upload-slides"> <img src="img/icons-svg/carat-r-white.svg"> </button> &nbsp;
          <button id="pdf-add" class="upload-slides"> <img src="img/icons-svg/plus-white.svg"> <img src="img/icons-svg/fa-picture-white.svg"> Add PNG</button>
          <button id="pdf-download" class="upload-slides" onclick="document.getElementById('download-image').click()">  <img src="img/icons-svg/fa-file-save-white.svg"> Download PNG</button>
          <button id="pdf-close" class="cancel-button"><img src="img/icons-svg/fa-cancel-white.svg"> Close</button>
        </div>
        <div id="page-count-container">Page <div id="pdf-current-page"></div> of <div id="pdf-total-pages"></div></div>
      </div>
      <canvas id="pdf-slide-preview" width="300"></canvas>
      <canvas id="pdf-canvas" width="1024" style="display:none"></canvas>
      <div id="page-loader">Loading page ...</div>
      <a id="download-image" class="BUTTON_BLUE" href="#" style="display:none">Download PNG</a>
    </div>
  </div> <!-- pdf-main-container -->
</div> <!-- divpdf -->

<br>

    <table border="1">
      <tr>
        <td align="center">
          <b>Added Image</b>
        </td>
        <td align="center">
          <b>Added Audio</b>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <ul id="outimage">
          </ul>
        </td>
        <td valign="top">
          <ul id="outaudio">
          </ul>
        </td>
      </tr>

    </table>
</center>
<!-- END: src/html/body.html -->
