<!-- HTML code for embedding the source libraries into docs/index_src_libs.html -->
<script src='.././src/npm_header.js'></script>
<script src='../src/libs/linkparam.js'></script>
<script src='../src/libs/filesaver.js'></script>
<script src='../src/libs/canvas2blob.js'></script>
<script src='../src/libs/dom2id.js'></script>
<script src='../src/libs/date_time.js'></script>
<script src='../src/libs/loadfile4dom.js'></script>
<script src='../src/libs/handlebars4code.js'></script>
<script src='../src/libs/create4audioslides.js'></script>