
	   <!-- BEGIN: src/html_tail.html -->
	   <center style="font-size: 10px;">
			  <a href="https://gitlab.com/niehausbert/audioslides4web" target="_blank"> GitHub Sources AudioSlides4Web</a> - <a href="https://gitlab.com/niehausbert/audioslides4web/archive/master.zip"  target="_blank">Download AudioSlides4Web ZIP</a>
			  <br>
			  Version: 2.1.6 Date: 2020/11/30 16:49:23 Author: Engelbert Niehaus
	   </center>
     <!-- END:  src/html_tail.html -->

	